.vscode/

# Benchmarks
benchmarks/output/
benchmarks/benchmarks.json

# Python
__pycache__/

# C++
build/
searchclient_cpp/searchclient
searchclient_cpp/cpu_flamegraph.svg
searchclient_cpp/perf.data
searchclient_cpp/perf.data.old
searchclient_cpp/*.profraw
searchclient_cpp/build_tests/
